/* color palette from <https://github.com/vuejs/theme> */
:root {
  --color-green: green;
  --color-white: white;
  --color-black: black;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--color-white);
  --color-text: var(--color-black);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--color-black);
    --color-text: var(--color-white);
  }
}