:root {
  --color-ahs-black: #000000;
  --color-ahs-white: #ffffff;
  --color-ahs-red: #e20613;
  --color-ahs-gray: #3c3c3b;
  --color-ahs-light-blue: #f0f8ff;
  --color-ahs-red-dark: #8b030b;
  --color-ahs-middle-gray: #646464;
  --color-ahs-light-gray: #bcbcbc;
  --color-green: #d0ea2b;
  --color-green-2: #66b032;
  --color-orange: #fb9902;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--color-ahs-white);
  --color-text: var(--color-ahs-black);
  --primary-color: var(--color-ahs-red);
  --secondary-color: var(--color-ahs-white);
  --font-family: 'Circular Std';
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-family);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--color-black);
    --color-text: var(--color-white);
  }
} */
