@font-face {
  font-family: 'Circular Std';
  font-weight: 400;
  font-style: normal;
  font-display: auto;
  /* unicode-range: U+000-5FF; */
  src:
    local('Circular Std'),
    url('/static/fonts/CircularStd/CircularStd-Book.woff2') format('woff2');
}

@font-face {
  font-family: 'Circular Std';
  font-weight: 700;
  font-style: bold;
  font-display: auto;
  /* unicode-range: U+000-5FF; */
  src:
    local('Circular Std'),
    url('/static/fonts/CircularStd/CircularStd-Bold.woff2') format('woff2');
}
