name: Analyze Code Base
on: [ push, pull_request ]

jobs:
  python-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip uv
          uv sync

      - name: Run format check
        run: uv run ruff check

      - name: Run type checks
        run: uv run ty check
      - name: Run pylint
        run: uv run pylint . --ignore=migrations,tests,./.venv/ --enable-all-extensions --fail-under=8

      - name: Run bandit security checker
        run: uv run bandit -r . -x migrations,tests,./.venv/
      

  npm-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Use Node.js 22.x
        uses: actions/setup-node@v4
        with:
          node-version: 22.x

      - name: Install npm dependencies
        run: |
          cd frontend/
          npm install

      - name: Run npm audit
        run: |
          cd frontend/
          npm run lint